<div>
  <div class="page-header"><h1>All Profiles</h1></div>
  <!-- Input Field / Search Bar  -->
  <div align='center'>
    <form name='searchAllProfiles'>
      <div class = "form-group">
        <input
          type='text',
          name='searchAllP',
          ng-model='searchText',
          class="form-control",
          placeholder='Search Profiles by Name or Keyword...'
          />
      </div> <!-- Closing input-group -->
    </form> <!-- Closing from group -->
  </div>
  <!-- All Profiles View --> 
  <div ng-if="!noProfiles" ng-repeat="profile in profiles | filter:searchText track by $index">
    <div class='well well-lg' style="width:50%; margin:auto;">
      <h4>Basic Info</h4>
      <strong>Name: </strong><span>{{profile.basicInfo.name}}</span><br />
      <strong>DoB: </strong> <span>{{ profile.basicInfo.dob.substring(4,15)}}</span><br />
      <strong>Gender: </strong><span>{{profile.basicInfo.gender}}</span><br />
      <strong>Nationality: </strong><span>{{profile.basicInfo.nationality}}</span><br />
      <strong>Sport(s): </strong><span><span><ul style="padding-left:15px;"><li ng-repeat="s in profile.basicInfo.sport">{{s}}</li></ul></span><br /><br />

      <h4>About</h4>
      <strong>Description: </strong><span>{{profile.about.description}}</span><br />
      <strong>Locations: </strong><span><span><ul style="padding-left:15px;"><li ng-repeat="loc in profile.about.location">{{loc}}</li></ul></span><br />
      <strong>Association: </strong><span>{{profile.about.association}}</span><br />
      <strong>Team: </strong><span>{{profile.about.team}}</span><br />
      <strong>Interests: </strong><span><ul style="padding-left:15px;"><li ng-repeat="interest in profile.about.interests">{{interest}}</li></ul></span><br />
      <strong>Charaties: </strong><span><span><ul style="padding-left:15px;"><li ng-repeat="charity in profile.about.charities">{{charity}}</li></ul></span><br />
      <strong>Married: </strong><span>{{profile.about.married}}</span><br />
      <strong>Drinks Alcohol: </strong><span>{{profile.about.drink}}</span><br />
      <form name="reviewForm" method="post" ng-submit="updateProfile(profile)">
          <button class='btn btn-info'>Edit</button>
      </form>
    </div><br />
  </div>
  <div class='well well-lg' ng-if="noProfiles" style="width:50%; margin:auto; text-align: center">
    <h2>No Profiles Yet</h2>
  </div>
</div>
