h1, h2, h3 {
   text-align: center;
}

input {
  height: 20px;
}

.navbar-brand {
  font-family: 'Raleway', sans-serif;
}

body {
  font-family: 'Raleway', sans-serif;
}

.page-header h2 {
  text-transform: uppercase;
  font-weight: bold;
}

.auth {
  margin-top: 100px;
}

ul {
  padding-left: 0;
}
